.u-section-1 .u-sheet-1 {
  min-height: 756px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 570px;
  margin: 65px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 192px;
}

.u-section-1 .u-container-layout-1 {
  padding: 32px 23px 22px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 0 7px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0 7px;
}

.u-section-1 .u-text-3 {
  margin-left: 7px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  animation-timing-function: ease-in-out;
  margin: -193px 135px 0 auto;
}

.u-section-1 .u-list-1 {
  margin-top: 102px;
  margin-bottom: 29px;
}

.u-section-1 .u-app-link {
  color: inherit;
  display: block;
  text-decoration: none;
}


.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 223px;
  --gap: 0px;
  grid-auto-columns: 25%;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px 30px 30px;
}

.u-section-1 .u-icon-1 {
  height: 71px;
  width: 71px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  width: auto;
  margin: 19px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 60px 30px 30px;
}

.u-section-1 .u-icon-2 {
  height: 71px;
  width: 71px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  width: auto;
  margin: 19px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 60px 30px 30px;
}

.u-section-1 .u-icon-3 {
  height: 71px;
  width: 71px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  width: auto;
  margin: 19px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 60px 30px 30px;
}

.u-section-1 .u-icon-4 {
  height: 71px;
  width: 71px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-placeholder-icon {
  border: 2px dashed #c7c7c7;
  border-radius: 50%;
  color: #9a9a9a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 700;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  width: auto;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 470px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 158px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 184px;
    grid-gap: 0px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 234px;
    height: 234px;
    margin-top: -215px;
    margin-right: 35px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 190px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 427px;
    grid-auto-columns: 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 156px;
    height: 156px;
    margin-top: 24px;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

.u-site-footer {
  margin: 10px 0 24px;
}

.u-site-footer-link {
  color: #6f6f6f;
  font-size: 0.75rem;
  text-decoration: none;
}

.u-site-footer-sep {
  color: #6f6f6f;
  font-size: 0.75rem;
  margin: 0 0.35rem;
}

.u-site-footer-link:hover,
.u-site-footer-link:focus-visible {
  color: #4f4f4f;
}

